apiVersion: apps/v1
kind: Deployment
metadata:
  name: postgresql-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: postgresql
  template:
    metadata:
      labels:
        app: postgresql
    spec:
      containers:
      - name: postgresql
        image: chirag1212/full-stack-app:database
        ports:
        - containerPort: 5432
        env:
        - name: POSTGRES_USER
          value: "appUser"
        - name: POSTGRES_PASSWORD
          value: "user@123"
        - name: POSTGRES_DB
          value: "mydatabase"
        volumeMounts:
        - name: postgredb-storage
          mountPath: /var/lib/postgresql/data
      volumes:
      - name: postgredb-storage
        persistentVolumeClaim:
          claimName: postgresql-pvc
